USE [master]
GO
/****** Object:  Database [PharmaSystemManager]    Script Date: 24/3/2020 8:21:09 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'PharmaSystemManager')

CREATE DATABASE [PharmaSystemManager]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PharmaSystemManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PharmaSystemManager]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MaHDBan]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUTO_MaHDBan]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[AUTO_MaHDBan]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MaHDBan) FROM HoaDonBanHang) = 0
		SET @ID = ''0''
	ELSE
		SELECT @ID = MAX(RIGHT(MaHDBan, 3)) FROM HoaDonBanHang
		SELECT @ID = CASE
						WHEN @ID >= 99 THEN ''HDB'' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN ''HDB0'' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 0 and @ID < 9 THEN ''HDB00'' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)	
		END
	RETURN @ID
END







' 
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MaHDMua]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUTO_MaHDMua]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[AUTO_MaHDMua]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MaHDMua) FROM HoaDonThuMua) = 0
		SET @ID = ''0''
	ELSE
		SELECT @ID = MAX(RIGHT(MaHDMua, 3)) FROM HoaDonThuMua
		SELECT @ID = CASE
			WHEN @ID >= 99 THEN ''HDM'' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN ''HDM0'' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 0 and @ID < 9 THEN ''HDM00'' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)	
		END
	RETURN @ID
END







' 
END

GO
/****** Object:  Table [dbo].[DaiLy]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DaiLy]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DaiLy](
	[MaDaiLy] [nvarchar](10) NOT NULL,
	[TenDaiLy] [nvarchar](100) NOT NULL,
	[EmailDaiLy] [nvarchar](50) NOT NULL,
	[SDTDaiLy] [nvarchar](15) NOT NULL,
	[DiaChiDaiLy] [nvarchar](50) NOT NULL,
	[ThanhPhoDaiLy] [nvarchar](50) NOT NULL,
	[TrangThaiDaiLy] [nvarchar](50) NULL,
 CONSTRAINT [PK_DaiLy] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HoaDonBanHang]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDonBanHang]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HoaDonBanHang](
	[MaHDBan] [nvarchar](10) NOT NULL CONSTRAINT [PK_HoaDonBanHang]  DEFAULT ([DBO].[AUTO_MaHDBan]()),
	[NgayBan] [datetime] NOT NULL,
	[TTTienMat] [money] NOT NULL,
	[TTThe] [money] NULL,
	[GiamGia] [int] NOT NULL,
	[TrangThaiHDBan] [nvarchar](50) NULL,
	[MaNV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__HoaDonBa__43106E2AB90170D8] PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HoaDonBanHangChiTiet]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDonBanHangChiTiet]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HoaDonBanHangChiTiet](
	[MaHDBan] [nvarchar](10) NOT NULL,
	[IDThuoc] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_HoaDonBanHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC,
	[IDThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HoaDonThuMua]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDonThuMua]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HoaDonThuMua](
	[MaHDMua] [nvarchar](10) NOT NULL CONSTRAINT [PK_HoaDonThuMua]  DEFAULT ([DBO].[AUTO_MaHDMua]()),
	[NgayMua] [datetime] NOT NULL,
	[TTTienMat] [money] NULL,
	[TTThe] [money] NULL,
	[SoTienConLai] [money] NOT NULL,
	[TrangThaiHDMua] [nvarchar](50) NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__HoaDonTh__50CFE87A711D9A57] PRIMARY KEY CLUSTERED 
(
	[MaHDMua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[HoaDonThuMuaChiTiet]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDonThuMuaChiTiet]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HoaDonThuMuaChiTiet](
	[MaHDMua] [nvarchar](10) NOT NULL,
	[IDThuoc] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_HoaDonThuMuaChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHDMua] ASC,
	[IDThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[LoaiThuoc]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiThuoc]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LoaiThuoc](
	[MaLoaiThuoc] [nvarchar](10) NOT NULL,
	[TenLoaiThuoc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiThuoc] PRIMARY KEY CLUSTERED 
(
	[MaLoaiThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhaCungCap]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[EmailNCC] [nvarchar](50) NOT NULL,
	[SDTNCC] [nvarchar](15) NOT NULL,
	[DiaChiNCC] [nvarchar](50) NOT NULL,
	[ThanhPhoNCC] [nvarchar](50) NOT NULL,
	[Mota] [nvarchar](max) NOT NULL,
	[TrangThaiNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[VaiTro] [bit] NOT NULL,
	[HoVaTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NgayLamViec] [date] NOT NULL,
	[SDTNV] [nvarchar](15) NOT NULL,
	[EmailNV] [nvarchar](50) NOT NULL,
	[DiaChiNV] [nvarchar](50) NOT NULL,
	[TrangThaiNV] [nvarchar](50) NULL,
	[Hinh] [varbinary](max) NULL,
	[MaDaiLy] [nvarchar](10) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Thuoc]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Thuoc](
	[MaThuoc] [nvarchar](10) NOT NULL,
	[TenThuoc] [nvarchar](100) NOT NULL,
	[TenKhoaHoc] [nvarchar](50) NOT NULL,
	[NhietDoBaoQuan] [int] NOT NULL,
	[QuyCachDongGoi] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](10) NOT NULL,
	[NhaSX] [nvarchar](50) NOT NULL,
	[MoTaThuoc] [nvarchar](max) NOT NULL,
	[TrangThaiThuoc] [nvarchar](50) NULL,
	[MaLoaiThuoc] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ThuocTrongKho]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ThuocTrongKho]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ThuocTrongKho](
	[IDThuoc] [int] IDENTITY(100,1) NOT NULL,
	[MaLoHang] [nvarchar](10) NOT NULL,
	[NgaySX] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayNhapHang] [date] NOT NULL,
	[GiaBan] [money] NOT NULL,
	[GiaNhap] [money] NOT NULL,
	[MaThuoc] [nvarchar](10) NOT NULL,
	[MaDaiLy] [nvarchar](10) NOT NULL,
	[TrangThaiThuoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThuocTrongKho] PRIMARY KEY CLUSTERED 
(
	[IDThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[DaiLy] ([MaDaiLy], [TenDaiLy], [EmailDaiLy], [SDTDaiLy], [DiaChiDaiLy], [ThanhPhoDaiLy], [TrangThaiDaiLy]) VALUES (N'DL01', N'QLD cs1', N'qld.cs1@gmail.com', N'0985345124', N'Số 1, Nguyễn Quý Đức, Thanh Xuân', N'Hà Nội', NULL)
INSERT [dbo].[DaiLy] ([MaDaiLy], [TenDaiLy], [EmailDaiLy], [SDTDaiLy], [DiaChiDaiLy], [ThanhPhoDaiLy], [TrangThaiDaiLy]) VALUES (N'DL02', N' QLD cs2', N'qld.cs2@gmail.com', N'0903452381', N'Số 493, Nguyễn Lương Bằng, Đống Đa', N'Hà Nội', NULL)
INSERT [dbo].[DaiLy] ([MaDaiLy], [TenDaiLy], [EmailDaiLy], [SDTDaiLy], [DiaChiDaiLy], [ThanhPhoDaiLy], [TrangThaiDaiLy]) VALUES (N'DL03', N'QLD cs3', N'qld.cs3@gmail.com', N'0943948231', N'số 83, Nguyễn Khuyến, Hà Đồng', N'Hà Nội', NULL)
INSERT [dbo].[HoaDonBanHang] ([MaHDBan], [NgayBan], [TTTienMat], [TTThe], [GiamGia], [TrangThaiHDBan], [MaNV]) VALUES (N'HDB001', CAST(N'2020-03-22 12:30:30.000' AS DateTime), 0.0000, NULL, 0, NULL, N'NV006')
INSERT [dbo].[HoaDonBanHang] ([MaHDBan], [NgayBan], [TTTienMat], [TTThe], [GiamGia], [TrangThaiHDBan], [MaNV]) VALUES (N'HDB002', CAST(N'2020-03-22 02:03:00.000' AS DateTime), 0.0000, NULL, 0, NULL, N'NV003')
INSERT [dbo].[HoaDonBanHang] ([MaHDBan], [NgayBan], [TTTienMat], [TTThe], [GiamGia], [TrangThaiHDBan], [MaNV]) VALUES (N'HDB003', CAST(N'2012-12-12 00:00:00.000' AS DateTime), 20000.0000, 29999.0000, 10, NULL, N'NV002')
INSERT [dbo].[HoaDonBanHangChiTiet] ([MaHDBan], [IDThuoc], [SoLuong]) VALUES (N'HDB001', 101, 2)
INSERT [dbo].[HoaDonBanHangChiTiet] ([MaHDBan], [IDThuoc], [SoLuong]) VALUES (N'HDB001', 102, 1)
INSERT [dbo].[HoaDonBanHangChiTiet] ([MaHDBan], [IDThuoc], [SoLuong]) VALUES (N'hdb001', 106, 12)
INSERT [dbo].[HoaDonThuMua] ([MaHDMua], [NgayMua], [TTTienMat], [TTThe], [SoTienConLai], [TrangThaiHDMua], [MaNV], [MaNCC]) VALUES (N'HDM001', CAST(N'2020-02-02 00:00:00.000' AS DateTime), 12222.0000, 123123.0000, 30200.0000, NULL, N'NV006', N'NCC001')
INSERT [dbo].[HoaDonThuMua] ([MaHDMua], [NgayMua], [TTTienMat], [TTThe], [SoTienConLai], [TrangThaiHDMua], [MaNV], [MaNCC]) VALUES (N'HDM002', CAST(N'2020-03-03 00:00:00.000' AS DateTime), 123123.0000, 12312.0000, 20100.0000, NULL, N'NV003', N'NCC005')
INSERT [dbo].[HoaDonThuMua] ([MaHDMua], [NgayMua], [TTTienMat], [TTThe], [SoTienConLai], [TrangThaiHDMua], [MaNV], [MaNCC]) VALUES (N'HDM003', CAST(N'2020-03-24 20:20:20.030' AS DateTime), 0.0000, 0.0000, 5290.0000, NULL, N'NV001', N'NCC001')
INSERT [dbo].[HoaDonThuMuaChiTiet] ([MaHDMua], [IDThuoc], [SoLuong]) VALUES (N'HDM001', 101, 30)
INSERT [dbo].[HoaDonThuMuaChiTiet] ([MaHDMua], [IDThuoc], [SoLuong]) VALUES (N'HDM001', 102, 100)
INSERT [dbo].[HoaDonThuMuaChiTiet] ([MaHDMua], [IDThuoc], [SoLuong]) VALUES (N'HDM001', 103, 1200)
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc], [MoTa]) VALUES (N'LT001', N'Thuốc gây mê', NULL)
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc], [MoTa]) VALUES (N'LT002', N'Thuốc chống dị ứng và phản vệ', NULL)
INSERT [dbo].[LoaiThuoc] ([MaLoaiThuoc], [TenLoaiThuoc], [MoTa]) VALUES (N'LT003', N'Thuốc giải độc và các chất giải độc khác', NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [EmailNCC], [SDTNCC], [DiaChiNCC], [ThanhPhoNCC], [Mota], [TrangThaiNCC]) VALUES (N'NCC001', N'Công ty CP dược Hậu Giang', N'dhgpharma@dhgpharma.com.vn', N'(0292). 3891433', N'288 Bis Nguyễn Văn Cừ, P. An Hòa, Q. Ninh Kiều', N'Cần Thơ', N'1', NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [EmailNCC], [SDTNCC], [DiaChiNCC], [ThanhPhoNCC], [Mota], [TrangThaiNCC]) VALUES (N'NCC002', N'Công ty CP Traphaco', N'info@traphaco.com.vn', N'18006612', N'75 Yên Ninh, Ba Đình', N'Hà Nội', N'3', NULL)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [EmailNCC], [SDTNCC], [DiaChiNCC], [ThanhPhoNCC], [Mota], [TrangThaiNCC]) VALUES (N'NCC003', N'Công ty CP Pymepharco', N'cnhn@pymepharco.com', N'32011536', N'Lô 5 -TT 24  Xuân Phương,Nam Từ Liêm', N'Hà Nội', N'2', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [MatKhau], [VaiTro], [HoVaTen], [NgaySinh], [NgayLamViec], [SDTNV], [EmailNV], [DiaChiNV], [TrangThaiNV], [Hinh], [MaDaiLy]) VALUES (N'NV001', N'123', 1, N'Lưu Anh Quân', CAST(N'1991-10-08' AS Date), CAST(N'2004-04-04' AS Date), N'0942244512', N'luuanhquan@gmail.com', N'An Dương', NULL, NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [MatKhau], [VaiTro], [HoVaTen], [NgaySinh], [NgayLamViec], [SDTNV], [EmailNV], [DiaChiNV], [TrangThaiNV], [Hinh], [MaDaiLy]) VALUES (N'NV002', N'123', 1, N'Đỗ Hoàng Long', CAST(N'1992-08-10' AS Date), CAST(N'2004-04-04' AS Date), N'0934551356', N'dohoanglong@gmail.com', N'Tôn Thất Tùng', NULL, NULL, N'DL01')
INSERT [dbo].[NhanVien] ([MaNV], [MatKhau], [VaiTro], [HoVaTen], [NgaySinh], [NgayLamViec], [SDTNV], [EmailNV], [DiaChiNV], [TrangThaiNV], [Hinh], [MaDaiLy]) VALUES (N'NV003', N'123', 0, N'Nguyễn Thành Đồng', CAST(N'1999-08-10' AS Date), CAST(N'2019-10-10' AS Date), N'0852600125', N'nguyenthanhdong@gmail.com', N'Thanh Xuân', NULL, NULL, N'DL02')
INSERT [dbo].[Thuoc] ([MaThuoc], [TenThuoc], [TenKhoaHoc], [NhietDoBaoQuan], [QuyCachDongGoi], [DonViTinh], [NhaSX], [MoTaThuoc], [TrangThaiThuoc], [MaLoaiThuoc]) VALUES (N'MT003', N'Loratadin', N'Loratadine', 15, N'??????', N'viên', N'DongPoppa', N'Tác dụng kéo dài, không hoặc ít gây buồn ngủ và kháng muscarin. Người lớn, người cao tuổi và trẻ em trên 6 tuổi: uống 1 lần 10 mg/ngày. Trẻ em dưới 2 tuổi: chưa xác định được tính an toàn và hiệu quả, 2 – 5 tuổi: 5 mg/ngày uống 1 lần. Người suy gan, thận: 10 mg/ngày, cứ 2 ngày một lần.', NULL, N'LT002')
SET IDENTITY_INSERT [dbo].[ThuocTrongKho] ON 

INSERT [dbo].[ThuocTrongKho] ([IDThuoc], [MaLoHang], [NgaySX], [NgayHetHan], [SoLuongTon], [NgayNhapHang], [GiaBan], [GiaNhap], [MaThuoc], [MaDaiLy], [TrangThaiThuoc]) VALUES (101, N'LH001', CAST(N'2019-10-10' AS Date), CAST(N'2022-10-10' AS Date), 13, CAST(N'2020-02-02' AS Date), 600.0000, 400.0000, N'MT001', N'DL01', NULL)
INSERT [dbo].[ThuocTrongKho] ([IDThuoc], [MaLoHang], [NgaySX], [NgayHetHan], [SoLuongTon], [NgayNhapHang], [GiaBan], [GiaNhap], [MaThuoc], [MaDaiLy], [TrangThaiThuoc]) VALUES (102, N'LH001', CAST(N'2019-09-12' AS Date), CAST(N'2023-09-12' AS Date), 86, CAST(N'2020-02-02' AS Date), 200.0000, 110.0000, N'MT002', N'DL01', NULL)
INSERT [dbo].[ThuocTrongKho] ([IDThuoc], [MaLoHang], [NgaySX], [NgayHetHan], [SoLuongTon], [NgayNhapHang], [GiaBan], [GiaNhap], [MaThuoc], [MaDaiLy], [TrangThaiThuoc]) VALUES (103, N'LH001', CAST(N'2019-09-10' AS Date), CAST(N'2023-09-10' AS Date), 1199, CAST(N'2020-02-02' AS Date), 10.0000, 6.0000, N'MT003', N'DL01', N'NV001 - 2020/03/22 - qưe')
SET IDENTITY_INSERT [dbo].[ThuocTrongKho] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonBanHang_NhanVien]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonBanHang]'))
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonBanHang_NhanVien]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonBanHang]'))
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FK_HoaDonBanHang_NhanVien]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonBanHangChiTiet_HoaDonThuMua]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonBanHangChiTiet]'))
ALTER TABLE [dbo].[HoaDonBanHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanHangChiTiet_HoaDonThuMua] FOREIGN KEY([MaHDBan])
REFERENCES [dbo].[HoaDonBanHang] ([MaHDBan])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonBanHangChiTiet_HoaDonThuMua]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonBanHangChiTiet]'))
ALTER TABLE [dbo].[HoaDonBanHangChiTiet] CHECK CONSTRAINT [FK_HoaDonBanHangChiTiet_HoaDonThuMua]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonBanHangChiTiet_ThuocTrongKho]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonBanHangChiTiet]'))
ALTER TABLE [dbo].[HoaDonBanHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBanHangChiTiet_ThuocTrongKho] FOREIGN KEY([IDThuoc])
REFERENCES [dbo].[ThuocTrongKho] ([IDThuoc])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonBanHangChiTiet_ThuocTrongKho]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonBanHangChiTiet]'))
ALTER TABLE [dbo].[HoaDonBanHangChiTiet] CHECK CONSTRAINT [FK_HoaDonBanHangChiTiet_ThuocTrongKho]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonThuMua_NhaCungCap]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMua]'))
ALTER TABLE [dbo].[HoaDonThuMua]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonThuMua_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonThuMua_NhaCungCap]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMua]'))
ALTER TABLE [dbo].[HoaDonThuMua] CHECK CONSTRAINT [FK_HoaDonThuMua_NhaCungCap]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonThuMua_NhanVien]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMua]'))
ALTER TABLE [dbo].[HoaDonThuMua]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonThuMua_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HoaDonThuMua_NhanVien]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMua]'))
ALTER TABLE [dbo].[HoaDonThuMua] CHECK CONSTRAINT [FK_HoaDonThuMua_NhanVien]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PK_HoaDonThuMuaChiTiet_HoaDonThuMua]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMuaChiTiet]'))
ALTER TABLE [dbo].[HoaDonThuMuaChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_PK_HoaDonThuMuaChiTiet_HoaDonThuMua] FOREIGN KEY([MaHDMua])
REFERENCES [dbo].[HoaDonThuMua] ([MaHDMua])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PK_HoaDonThuMuaChiTiet_HoaDonThuMua]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMuaChiTiet]'))
ALTER TABLE [dbo].[HoaDonThuMuaChiTiet] CHECK CONSTRAINT [FK_PK_HoaDonThuMuaChiTiet_HoaDonThuMua]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PK_HoaDonThuMuaChiTiet_ThuocTrongKho]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMuaChiTiet]'))
ALTER TABLE [dbo].[HoaDonThuMuaChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_PK_HoaDonThuMuaChiTiet_ThuocTrongKho] FOREIGN KEY([IDThuoc])
REFERENCES [dbo].[ThuocTrongKho] ([IDThuoc])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PK_HoaDonThuMuaChiTiet_ThuocTrongKho]') AND parent_object_id = OBJECT_ID(N'[dbo].[HoaDonThuMuaChiTiet]'))
ALTER TABLE [dbo].[HoaDonThuMuaChiTiet] CHECK CONSTRAINT [FK_PK_HoaDonThuMuaChiTiet_ThuocTrongKho]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NhanVien]') AND parent_object_id = OBJECT_ID(N'[dbo].[NhanVien]'))
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DaiLy] ([MaDaiLy])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_NhanVien]') AND parent_object_id = OBJECT_ID(N'[dbo].[NhanVien]'))
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Thuoc_LoaiThuoc]') AND parent_object_id = OBJECT_ID(N'[dbo].[Thuoc]'))
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_LoaiThuoc] FOREIGN KEY([MaLoaiThuoc])
REFERENCES [dbo].[LoaiThuoc] ([MaLoaiThuoc])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Thuoc_LoaiThuoc]') AND parent_object_id = OBJECT_ID(N'[dbo].[Thuoc]'))
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_LoaiThuoc]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ThuocTrongKho_DaiLy]') AND parent_object_id = OBJECT_ID(N'[dbo].[ThuocTrongKho]'))
ALTER TABLE [dbo].[ThuocTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_ThuocTrongKho_DaiLy] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DaiLy] ([MaDaiLy])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ThuocTrongKho_DaiLy]') AND parent_object_id = OBJECT_ID(N'[dbo].[ThuocTrongKho]'))
ALTER TABLE [dbo].[ThuocTrongKho] CHECK CONSTRAINT [FK_ThuocTrongKho_DaiLy]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ThuocTrongKho_Thuoc]') AND parent_object_id = OBJECT_ID(N'[dbo].[ThuocTrongKho]'))
ALTER TABLE [dbo].[ThuocTrongKho]  WITH CHECK ADD  CONSTRAINT [FK_ThuocTrongKho_Thuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[Thuoc] ([MaThuoc])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ThuocTrongKho_Thuoc]') AND parent_object_id = OBJECT_ID(N'[dbo].[ThuocTrongKho]'))
ALTER TABLE [dbo].[ThuocTrongKho] CHECK CONSTRAINT [FK_ThuocTrongKho_Thuoc]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK__ThuocTron__SoLuo__5AEE82B9]') AND parent_object_id = OBJECT_ID(N'[dbo].[ThuocTrongKho]'))
ALTER TABLE [dbo].[ThuocTrongKho]  WITH CHECK ADD CHECK  (([SOLUONGTON]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[InsertPurchaseInvoice]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertPurchaseInvoice]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertPurchaseInvoice] AS' 
END
GO


--------------------------------SALE------------------------------
------------------------------------------------------------------

------------------------------------------------------------------
------------------------------PURCHASE----------------------------

ALTER PROCEDURE [dbo].[InsertPurchaseInvoice]
	@IvoiceId NVARCHAR(10) OUT,
	@Date DATETIME,
	@PayByCash MONEY,
	@PayByCard MONEY,
	@remainMoney MONEY,
	@EmployeeID NVARCHAR(10),
	@SupplierID NVARCHAR(10)
as
	BEGIN
		DECLARE @IDjustInserted TABLE(id NVARCHAR(10))
		INSERT INTO [dbo].[HoaDonThuMua] ([NgayMua],[TTTienMat],[TTThe],[SoTienConLai],[MaNV],[MaNCC]) OUTPUT Inserted.MaHDMua
			INTO @IDjustInserted VALUES (@Date,@PayByCash,@PayByCard,@remainMoney,@EmployeeID,@SupplierID)
			SET @IvoiceId = (SELECT id FROM @IDjustInserted)
	end


GO
/****** Object:  StoredProcedure [dbo].[InsertSaleInvoice]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertSaleInvoice]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[InsertSaleInvoice] AS' 
END
GO

------------------------------------------------------------------
--------------------------------SALE------------------------------
ALTER PROCEDURE [dbo].[InsertSaleInvoice]
	@IvoiceId NVARCHAR(10) OUT,
	@saleDate DATETIME,
	@PayByCash MONEY,
	@PayByCard MONEY,
	@Discount INT,
	@EmployeeID NVARCHAR(10)
as
	BEGIN
		DECLARE @IDjustInserted TABLE(id NVARCHAR(10))
		INSERT INTO [dbo].[HoaDonBanHang]([NgayBan],[TTTienMat],[TTThe],[GiamGia],[MaNV]) OUTPUT Inserted.MaHDBan
			INTO @IDjustInserted VALUES (@saleDate,@PayByCash,@PayByCard,@Discount,@EmployeeID)
			SET @IvoiceId = (SELECT id FROM @IDjustInserted)
	end


GO
/****** Object:  StoredProcedure [dbo].[sp_INSERT_HOADONBANHANG]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_INSERT_HOADONBANHANG]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_INSERT_HOADONBANHANG] AS' 
END
GO
ALTER PROC [dbo].[sp_INSERT_HOADONBANHANG]
( @ngayban datetime,
	@tttienmat money,
	@ttthe money,
	@giamgia int,
	@manv nvarchar(10),
	@mahd nvarchar (10) output)
	as
	begin
	insert into HoaDonBanHang (NgayBan,TTTienMat,TTThe,GiamGia, MaNV) values (@ngayban, @tttienmat, @ttthe, @giamgia,  @manv)
	set @mahd= (select top 1 MAHDBAN  FROM HoaDonBanHang where MaNV=@manv ORDER BY MaHDBan DESC)
	end

GO
/****** Object:  Trigger [dbo].[TRG_HOADONBAN_UPDATE]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_HOADONBAN_UPDATE]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[TRG_HOADONBAN_UPDATE] ON [dbo].[HoaDonBanHang] AFTER UPDATE AS
BEGIN
	UPDATE ThuocTrongKho
	SET SoLuongTon = SoLuongTon + SoLuong
	FROM ThuocTrongKho JOIN HoaDonBanHangChiTiet ON ThuocTrongKho.IDThuoc=HoaDonBanHangChiTiet.IDThuoc
						JOIN inserted ON HoaDonBanHangChiTiet.MaHDBan=inserted.MaHDBan
	WHERE HoaDonBanHangChiTiet.IDThuoc=ThuocTrongKho.IDThuoc
END


' 
GO
/****** Object:  Trigger [dbo].[TRG_HOADONBAN]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_HOADONBAN]'))
EXEC dbo.sp_executesql @statement = N'create TRIGGER [dbo].[TRG_HOADONBAN] ON [dbo].[HoaDonBanHangChiTiet] AFTER INSERT AS
BEGIN
	UPDATE ThuocTrongKho 
	SET SoLuongTon = SoLuongTon - (SELECT SoLuong FROM inserted where IDThuoc=ThuocTrongKho.IDThuoc)
	FROM ThuocTrongKho JOIN inserted ON ThuocTrongKho.IDThuoc=inserted.IDThuoc
END' 
GO
/****** Object:  Trigger [dbo].[TRG_HUYHOADONMUA]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_HUYHOADONMUA]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[TRG_HUYHOADONMUA] ON [dbo].[HoaDonThuMua] AFTER UPDATE AS
BEGIN
	UPDATE ThuocTrongKho
	SET SoLuongTon = SoLuongTon - SoLuong
	FROM ThuocTrongKho JOIN HoaDonThuMuaChiTiet ON ThuocTrongKho.IDThuoc = HoaDonThuMuaChiTiet.IDThuoc
						JOIN inserted ON HoaDonThuMuaChiTiet.MaHDMua=inserted.MaHDMua
END


' 
GO
/****** Object:  Trigger [dbo].[TRG_THEMHOADONMUA]    Script Date: 24/3/2020 8:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_THEMHOADONMUA]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[TRG_THEMHOADONMUA] ON [dbo].[HoaDonThuMuaChiTiet] AFTER INSERT AS
BEGIN
	UPDATE ThuocTrongKho
	SET SoLuongTon = SoLuongTon + (SELECT SoLuong FROM INSERTED WHERE IDThuoc = ThuocTrongKho.IDThuoc)
	FROM ThuocTrongKho JOIN INSERTED ON INSERTED.IDThuoc = ThuocTrongKho.IDThuoc
END


' 
GO
USE [master]
GO
